<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <dhlexpress>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>InXpress\InXpressRating\Model\Carrier\DHLExpress</model>
                <name>InXpress DHL Express Shipping</name>
                <account></account>
                <title>DHL Express</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </dhlexpress>
            <dhlparcel>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>InXpress\InXpressRating\Model\Carrier\DHLParcel</model>
                <name>InXpress DHL Parcel Shipping</name>
                <address></address>
                <account></account>
                <title>DHL Parcel</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </dhlparcel>
            <canpar>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>InXpress\InXpressRating\Model\Carrier\Canpar</model>
                <name>InXpress Canpar Shipping</name>
                <account></account>
                <title>Canpar</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </canpar>
            <loomis>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>InXpress\InXpressRating\Model\Carrier\Loomis</model>
                <name>InXpress Loomis Shipping</name>
                <account></account>
                <title>Loomis</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </loomis>
            <purolator>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>InXpress\InXpressRating\Model\Carrier\Purolator</model>
                <name>InXpress Purolator Shipping</name>
                <account></account>
                <title>Purolator</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </purolator>
            <upsinxpress>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>InXpress\InXpressRating\Model\Carrier\UPSInxpress</model>
                <name>InXpress UPS Shipping</name>
                <account></account>
                <title>UPS by InXpress</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </upsinxpress>
            <fedexinxpress>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>InXpress\InXpressRating\Model\Carrier\FedExInxpress</model>
                <name>InXpress FedEx Shipping</name>
                <account></account>
                <title>FedEx by InXpress</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </fedexinxpress>
            <startrackinxpress>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>InXpress\InXpressRating\Model\Carrier\StarTrackInxpress</model>
                <name>InXpress StarTrack Shipping</name>
                <account></account>
                <title>StarTrack by InXpress</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </startrackinxpress>
        </carriers>
    </default>
</config>